header.masthead,
header.masthead .container,
header.masthead .container .row,
header.masthead .container .site-heading {
    height: 500px;
}

#mainNav.is-fixed {
    top: -50px;
}

section.cd-hero {
    margin-bottom: 50px;
}

.btn {
    padding: 1.375rem 1.75rem;
    font-size: 2rem;
}

.btn-primary {
    background-color: #79926a;
    border-color: #003002;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #003002 !important;
    border-color: #003002 !important;
}